.olympiads-list {
  width: 100%;
  padding: 40px 5%;
  background: #fff;
}

.breadcrumb {
  font-size: 15px;
  color: #1b2f63;
  margin-bottom: 30px;
}

.breadcrumb span {
  margin: 0 8px;
  color: #f4b223;
}

.heading-wrapper {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 50px;
}

.heading-wrapper h1 {
  font-size: 42px;
  color: #13295c;
  font-weight: 700;
  font-family: Georgia, serif;
}

.title-decoration {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  color: #f4b223;
  font-size: 18px;
  margin-bottom: 18px;
}

.title-decoration span {
  width: 55px;
  height: 2px;
  background: #f4b223;
}

.heading-wrapper p {
  font-size: 18px;
  color: #44516f;
  line-height: 1.5;
}

/* GRID */

.olympiads-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
}

/* CARD */

.olympiad-card {
  background: #fff;
  border: 1px solid #ececec;
  border-radius: 18px;
  padding: 20px 18px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.03);
}

.olympiad-card:hover {
  transform: translateY(-4px);
}

.icon-circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 0 auto 20px;
  background: #eef5ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 42px;
  color: #4a7de1;
}

.olympiad-card h3 {
  font-size: 18px;
  line-height: 1.3;
  color: #13295c;
  font-weight: 700;
  min-height: 70px;
}

.class-text {
  color: #666;
  font-size: 16px;
  margin-bottom: 10px;
}

.olympiad-card button {
  width: 100%;
  height: 40px;
  border: 1.5px solid #d7dce8;
  border-radius: 10px;
  background: #fff;
  color: #13295c;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.olympiad-card button:hover {
  background-color: #13295c;
  color: #fff;
}

.olympiad-card button span {
  font-size: 20px;
}

/* .view-details-button:hover {
  background-color: #13295c;
  color: #fff;
} */

/* Laptop */

@media (max-width: 1200px) {
  .olympiads-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Tablet */

@media (max-width: 992px) {
  .olympiads-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .heading-wrapper h1 {
    font-size: 42px;
  }
}

/* Mobile */

@media (max-width: 768px) {
  .olympiads-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .heading-wrapper h1 {
    font-size: 34px;
  }

  .heading-wrapper p {
    font-size: 15px;
  }

  .icon-circle {
    width: 70px;
    height: 70px;
    font-size: 30px;
  }

  .olympiad-card {
    padding: 18px 12px;
  }

  .olympiad-card h3 {
    font-size: 16px;
    min-height: 70px;
  }

  .class-text {
    font-size: 14px;
  }

  .olympiad-card button {
    font-size: 13px;
    height: 42px;
  }
}
