PORT=3000
IAM_SERVICE_URL=http://localhost:3001
ACADEMIC_SERVICE_URL=http://localhost:3002
COMMERCE_SERVICE_URL=http://localhost:3003
LIVE_EXAM_SERVICE_URL=http://localhost:3004
NOTIFICATION_SERVICE_URL=http://localhost:3005
