.hero {
  width: 100%;
  min-height: 90vh;

  background-image: url("../../../assets/Hero-image.png");
  background-size: cover;
  background-position: center;

  position: relative;
}

.hero-overlay {
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.45); */
  display: flex;
  align-items: center;
}

.hero-content {
  color: white;
  max-width: 700px;
  margin-left: 80px;
  padding-right: 20px;
}

.hero-content h1 {
  font-size: clamp(36px, 6vw, 72px);
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.btn-primary {
  background: #e8bb67;
  color: #011940;
  border: none;
  padding: 10px 55px;
  width: auto;
  white-space: nowrap;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}
.btn-secondary {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px 55px;
  width: auto;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.btn-primary:hover,
.btn-secondary:hover {
  opacity: 0.9;
  background: #011940;
  color: white;
  border: 1px solid white;
}

.stats-section {
  width: 90%;
  max-width: 1200px;

  margin: -50px auto 0;

  background: #dfb760;
  border-radius: 8px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 20px;

  position: relative;
  z-index: 10;

  flex-wrap: wrap;
}

.stat-item {
  text-align: center;
}

.stat-item h2 {
  color: #011940;
  font-size: clamp(28px, 4vw, 42px);
  font-weight: 700;
}

.stat-item p {
  color: #011940;
  font-size: 18px;
  font-weight: 600;
}

.divider {
  width: 1px;
  height: 60px;
  background: rgba(255, 255, 255, 0.7);
}

.info-strip {
  background: #011940;
  color: white;
  text-align: center;

  padding: 30px 60px;
  line-height: 1.8;
  font-size: 15px;
}

@media (max-width: 768px) {
  .hero {
    min-height: 75vh;
  }

  .hero-content {
    margin: 0 20px;
    text-align: center;
  }

  .hero-content h1 {
    font-size: 42px;
  }

  .hero-content p {
    font-size: 16px;
  }

  .hero-buttons {
    flex-direction: column;
    align-items: center;
  }

  .btn-primary,
  .btn-secondary {
    width: 100%;
    max-width: 280px;
  }

  .stats-section {
    margin-top: -30px;

    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    text-align: center;
  }

  .divider {
    display: none;
  }

  .stat-item h2 {
    font-size: 32px;
  }

  .stat-item p {
    font-size: 15px;
  }

  .info-strip {
    padding: 25px 20px;
    font-size: 14px;
  }
}
